  .node-div {
    height: 100%;
    width: 300px;
    margin-left: 20px;
    text-align: left;
  }

  .node-expanded {
    display: block;
  }

  .node-collapsed {
    display: none;
  }

  .toggle-btn {
    width: 25px;
    text-align: center;
    padding: 2px;
  }

  .toggle-text {
    cursor: pointer;
    color: blue;
  }

  .checkbox-div {
    width: 25px;
    padding: 3px;
    text-align: center;
  }

  .label-div {
    width: 100%;
    padding: 3px;
    text-align: left;
  }
